node_modules/*
.DS_Store
*.html
directory-traversal/thrushs/config/pid
arbitrary-write/thrushs/config/pid
arbitrary-write/thrushs/dummy.txt*
directory-traversal/ritp/logs/*
directory-traversal/run-this-place/logs/*
