node_modules/*
.DS_Store
*.html
*.log
directory-traversal/thrushs/config/pid
arbitrary-write/thrushs/config/pid
arbitrary-write/thrushs/dummy.txt*
directory-traversal/ritp/logs/*
directory-traversal/run-this-place/logs/*
directory-traversal/iter-server/*.txt
directory-traversal/node-server-forfront/config.js
